@import '../lib/variables';
@import '../helpers/media';

.skd-web {
    .comparision {
        background: $bg-blue-gray;
        padding: 80px 0 100px;

        &__wrapper {
            padding-top: 8px;
            max-width: 890px;
        }
        .compare-table__head {
            background-color: transparent
        }
    }

    @include desktop-l {
        .comparision {

            &__wrapper {
                padding-top: 0;
            }

            &__table {

                .comparision__table-row {

                    .comparision__table-cell:first-child {
                        min-width: 325px;
                    }
                }
            }
        }
    }

    @include laptop {
        .comparision {
            padding: 60px 0 80px;

            &__table {

                .comparision__table-row {

                    .comparision__table-cell:first-child {
                        min-width: 250px;
                    }
                }
            }
        }
    }

    @include mobile-m {
        .comparision {
            padding: 40px 0 60px;

            &__table-scroll {
                overflow: auto;

                > .comparision__table {
                    min-width: 580px;
                }
            }

            &__table:last-child {
                margin-bottom: 12px;
            }

            &__table {

                &-cell:has(.comparision__table-cell--check) {
                    min-width: 190px !important;
                }

                &-cell {
                    font-size: 12px !important;

                    &:first-child {
                        min-width: 180px !important;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 468px) {
        .comparision {
            &__table {
                .comparision__table-cell {
                    flex-grow: 0;
                    padding: 8px !important;

                    &:first-child {
                        min-width: 145px !important;
                    }
                }
            }
        }
    }
}