@import '../lib/variables';
@import '../helpers/media';

.skd-web {
    .comparision {
        background: $bg-blue-gray;
        padding: 80px 0 100px;
        @include laptop {
            padding: 60px 0 80px;
        }
        @include mobile-m {
            padding: 40px 0 60px;
        }

        &__wrapper {
            padding-top: 8px;
            @include desktop {
                padding-top: 0;
            }
        }

        &__table {
            display: flex;
            flex-direction: column;
            max-width: 805px;
            margin-bottom: 32px;
            border-color: $stroke-primary;
            border-width: 1px 0 0 0;
            border-style: solid;

            .comparision__table-head {
                display: flex;
                flex-direction: column;
                .comparision__table-row {
                    display: flex;
                    min-height: 44px;
                    .comparision__table-cell {
                        flex: 1 1 0;
                        align-content: center;
                        padding: 12px 8px;
                        font-weight: 600;
                        font-size: 16px;
                        @include laptop {
                            font-size: 14px;
                        }
                        color: $primary;
                        background-color: $bg-gray;
                        border-color: $stroke-primary;
                        border-width: 0 1px 1px 0;
                        border-style: solid;
                        &:first-child {
                            padding-left: 16px;
                            text-align: left;
                            min-width: 335px;
                            border-left-width: 1px;
                            @include laptop {
                                min-width: 300px;
                            }
                            @include breakpoint(540) {
                                min-width: 220px;
                            }
                            @include breakpoint(440) {
                                min-width: 180px;
                            }
                            @include breakpoint(410) {
                                min-width: 100px;
                                padding-left: 8px;
                                flex-grow: 1;
                            }
                        }
                        @include breakpoint(410) {
                            min-width: 100px;
                            flex-grow: 0;
                        }
                        text-align: center;
                    }
                }
            }
            .comparision__table-body {
                display: flex;
                flex-direction: column;
                .comparision__table-row:not(.hidden) {
                    border-bottom: 1px solid $stroke-primary;
                }
                .comparision__table-row {
                    display: flex;
                    min-height: 42px;
                    .comparision__table-cell {
                        flex: 1 1 0;
                        align-content: center;
                        padding: 12px 8px;
                        font-size: 16px;
                        @include laptop {
                            font-size: 14px;
                        }
                        color: $primary;
                        border-color: $stroke-primary;
                        border-width: 0 1px 0 0;
                        border-style: solid;
                        &:first-child {
                            padding-left: 16px;
                            text-align: left;
                            font-weight: 600;
                            min-width: 335px;
                            border-left-width: 1px;
                            @include laptop {
                                min-width: 300px;
                            }
                            @include breakpoint(540) {
                                min-width: 220px;
                            }
                            @include breakpoint(440) {
                                min-width: 180px;
                            }
                            @include breakpoint(410) {
                                min-width: 100px;
                                padding-left: 8px;
                                flex-grow: 1;
                            }
                        }
                        @include breakpoint(410) {
                            min-width: 100px;
                            flex-grow: 0;
                        }
                        text-align: center;
                    }
                }
            }

            &-cell--check {
                display: flex;
                gap: 16px;
                align-items: center;
                margin-left: 16px;
            }
        }
    }
}
