@import '../lib/variables';

.skd-web {
    .comparision {
        background: $bg-blue-gray;
        padding: 80px 100px;

        &__table {
            display: flex;
            flex-direction: column;
            max-width: 805px;
            margin-bottom: 20px;
            border-color: $stroke-primary;
            border-width: 1px 1px 0 1px;
            border-style: solid;

            .comparision__table-head {
                display: flex;
                flex-direction: column;
                .comparision__table-row {
                    display: flex;
                    .comparision__table-cell {
                        flex: 1 1 0;
                        padding: 12px 8px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $primary;
                        background-color: $bg-gray;
                        border-bottom: 1px solid $stroke-primary;
                        &:not(:last-child) {
                            border-right: 1px solid $stroke-primary;
                        }
                        &:first-child {
                            padding-left: 16px;
                        }
                    }
                }
            }
            .comparision__table-body {
                display: flex;
                flex-direction: column;
                .comparision__table-row:not(.hidden) {
                    border-bottom: 1px solid $stroke-primary;
                }
                .comparision__table-row {
                    display: flex;
                    .comparision__table-cell {
                        flex: 1 1 0;
                        padding: 12px 8px;
                        font-size: 16px;
                        color: $primary;
                        &:first-child {
                            padding-left: 16px;
                            text-align: left;
                        }
                        &:not(:last-child) {
                            border-right: 1px solid $stroke-primary;
                        }
                        text-align: center;
                    }
                    &.toggle-table-item {
                        overflow: hidden;
                        .comparision__table-cell {
                            transition: max-height .15s;
                            max-height: 100px;
                            opacity: 1;
                        }
                        &.hidden .comparision__table-cell {
                            max-height: 0;
                            opacity: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.toggle-table-btn.btn-open-block {
    margin-top: 16px;
    cursor: pointer;
    user-select: none;
}
