@import '../lib/variables';
@import '../helpers/media';

.skd-web {
    .converter {
        background: $bg-blue-gray;
        padding: 80px 0 100px;
        
        &__desc {
            color: $primary;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 24px;
            
            max-width: 670px;
        }

        &__list {
            padding: 12px 0 12px 6px;
            list-style-type: none;
            position: relative; 
        }

        &__list-item {
            display: flex;
            &::before {
                content: "\2022";
                color: $black;
                font-size: 16px;
                margin-right: 8px;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        @include desktop {
            &__desc {
                margin-top: 32px;
            }
        }

        @include laptop {
            padding: 60px 0 80px;

            &__desc {
                margin-top: 16px;
            }
        }

        @include mobile-m {
            padding: 40px 0 60px;

            &__list-item {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        } 
    }
}
