@import '../lib/variables';
@import '../helpers/media';

.skd-web {
    .features {
        &__wrapper {
            max-width: 890px;
        }

        background: $bg-blue-gray;
        padding: 80px 0 100px;

        @include laptop {
            padding: 60px 0 80px;
        }

        @include mobile-m {
            padding: 40px 0 60px;
        }
    }
}