@import '../helpers/media';


.skd-web {
    .text-normal {
        font-weight: 400 !important;
    }
    .text-semibold {
        font-weight: 600 !important;
    }

    .anchors-container {
        padding-bottom: 28px;
        @include desktop-l {
            padding-bottom: 10px;
        }
    }

    @include desktop {
        .container {
            max-width: 956px;
        }
    }

    @include laptop {
        .container {
            max-width: 712px;
        }
    }

    @include mobile-m {
        .container {
            max-width: 468px;
        }
    }

    @include breakpoint(508) {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    h2 {
        font-size: 32px;
        margin-bottom: 24px;
        @include desktop-l {
            margin-bottom: 24px;
        }
        @include mobile-m {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 16px;
        }
    }
    .pw-start {
        padding-bottom: 40px;
    }  
}

