@import '../lib/flexbox.scss';
@import '../lib/variables';

.profitably {
    background: $bg-gray;
    padding-top: 80px;
    padding-bottom: 120px;

    &__item {
        margin-bottom: 60px;
    }
    
    &__item-title {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        h3 {
           color: $primary;
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            margin: 0;
        }
    }

    &__item-wrap {
        display: flex;
        gap: 12px;
    }

    &__item-card {
        color: $primary;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        border: 1.5px solid $stroke-primary;
        padding: 40px 40px 36px 48px;
        flex-grow: 1;
    }

    &__item-subtitle {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 18px;
    }

    &__item-desc {
        font-weight: 400;
        font-size: 18px;
        p {
            margin: 12px 0 16px 0;
        }
    }

    &__item-desc-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        gap: 40px;
        p {
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    &__item-desc--right figcaption {
        flex-shrink: 0;
    }

    &__item-desc--right figcaption {
       order: 1;
    }

    &__item-desc--right p {
       order: 0;
    }

    &__item-desc--left p {
       order: 1;
    }

    &__item-desc--left figcaption {
       order: 0;
    } 

    &__item-desc--left figcaption {
        flex-shrink: 0;
    }

    @media screen and (max-width: 742px) {
        &__item-wrap, &__item-desc-bottom {
            flex-direction: column;
        }
    }
}