@import '../lib/flexbox.scss';
@import '../lib/variables';
@import '../helpers/media';

.skd-web {
    .profitably {
        background: $bg-gray;
        padding-top: 80px;
        padding-bottom: 120px;

        &__item {
            padding-top: 8px;
        }

        &__item:not(:last-child) {
            margin-bottom: 52px;
        }

        &__item-title {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;

            h3 {
                align-content: center;
                color: $primary;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                margin: 0;
            }
        }

        &__item-circle-with-number {
            border: 1.5px solid $stroke-primary;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        &__item-wrap {
            display: flex;
            gap: 12px;
        }

        &__item-card {
            color: $primary;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            border: 1.5px solid $stroke-primary;
            padding: 40px 40px 36px 48px;
            flex-grow: 1;
        }

        &__item-subtitle {
            margin-top: 0;
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }

        &__item-desc {
            font-weight: 400;
            font-size: 18px;

            p {
                margin: 12px 0 16px 0;
                max-width: 570px;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            &--left img {
                margin-right: 40px;
                float: inline-start;
            }

            img {
                max-width: 206px;
            }
        }

        &__item-desc-bottom {
            margin-top: 16px;
            position: relative;

            figcaption,
            p {
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &__item-desc--right img {
            margin-left: 16px;
            float: inline-end;
        }

        &__users {
            display: flex;
            gap: 20px;
        }

        &__users-item {
            border: 1.5px solid $stroke-primary;
            padding: 40px;
            width: 50%;
        }

        &__users-title {
            display: flex;
            align-items: flex-start;
            gap: 16px;
            margin: 0;
            font-size: 20px;
            line-height: 28px;

            span {
                padding-top: 8px;
            }

            p {
                margin: 0;
            }
        }

        &__users-subtitle {
            margin: 0 0 4px 0;
            color: rgba(44, 45, 46, 1);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }

        &__users-list {
            margin-top: 28px;
            list-style-type: none;
            counter-reset: num;
            margin-left: 54px;
            padding: 0;

            > li {
                position: relative;
                margin: 0;
                padding: 8px 0 16px 0;

                &::before {
                    content: '0' counter(num);
                    counter-increment: num;
                    display: inline-block;
                    position: absolute;
                    margin-top: 8px;
                    top: 0;
                    left: -53px;
                    width: 38px;
                    text-align: center;
                    color: $gray-sub;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                }

                &:not(:last-child)::after {
                    content: '';
                    display: block;
                    width: calc(100% + 48px);
                    height: 1px;
                    background-color: $stroke-primary;
                    position: absolute;
                    left: -48px;
                    bottom: 0;
                }
            }

            li:not(:last-child) {
                margin-bottom: 4px;
            }

            p {
                margin: 0;
                font-size: 16px;
                line-height: 24px;
            }
        }

        /* Начиная с 10-го пункта убрали ведущий ноль */
        ol > li:nth-child(n+10)::before {
            content: counter(num);
        }

        @include desktop-l {
            &__item-card {
                padding-left: 40px;
                padding-right: 34px;
            }

            &__users-item {
                width: 100%;
            }

            &__item-desc-bottom {
                margin-top: 16px;
                gap: 16px;
            }

            &__users-list {
                margin-top: 24px;
            }
        }

        @include desktop {
            &__item-card,
            &__users-item {
                padding: 32px;
            }

            &__item-desc {
                font-size: 16px;
            }

            &__item-desc--left img {
                margin-right: 16px;
            }

            &__users-list {
                margin-top: 20px;
                margin-left: 48px;
            }

            &__users-list > li::before {
                left: -47px;
            }

            &__users-list > li:not(:last-child)::after {
                width: calc(100% + 48px);
                left: -48px;
            }
        }

        @include laptop {
            padding-top: 60px;
            padding-bottom: 80px;

            &__item-wrap {
                flex-direction: column;
            }

            &__item-desc {
                p {
                    margin-bottom: 0;
                }
                img {
                    max-width: 172px;
                }
            }

            &__users {
                flex-direction: column;
            }

            &__item-desc--left img {
                margin-right: 12px;
            }
        }

        @include mobile-m {
            padding-top: 40px;
            padding-bottom: 60px;

            &__item:not(:last-child) {
                margin-bottom: 32px;
            }

            &__item-title {
                gap: 16px;
                margin-bottom: 16px;
            }

            &__item-circle-with-number {
                width: 44px;
                height: 44px;
                font-size: 24px;
                line-height: 32px;
            }

            &__item-card {
                padding-left: 16px;
                padding-right: 16px;
            }

            &__item-desc--left img {
                float: none;
            }

            &__users-item {
                padding: 20px 16px;
            }

            &__users-list {
                margin-left: 34px;
            }

            &__item-desc-bottom {
                display: flex;
                flex-direction: column;

                figcaption {
                    order: 1;
                }

                img {
                    order: 2;
                }
            }

            &__users-list > li::before {
                left: -38px;
            }

            &__users-list > li:not(:last-child)::after {
                width: calc(100% + 34px);
                left: -34px;
            }
        }
    }
}
