@import '../lib/flexbox.scss';
@import '../lib/variables';

.skd-web {
    .profitably {
        background: $bg-gray;
        padding-top: 80px;
        padding-bottom: 120px;

        &__item:not(:last-child) {
            margin-bottom: 60px;
        }
        
        &__item-title {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            h3 {
                color: $primary;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                margin: 0;
            }
        }

        &__item-wrap {
            display: flex;
            gap: 12px;
        }

        &__item-card {
            color: $primary;
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            border: 1.5px solid $stroke-primary;
            padding: 40px 40px 36px 48px;
            flex-grow: 1;
        }

        &__item-subtitle {
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 18px;
        }

        &__item-desc {
            font-weight: 400;
            font-size: 18px;

            p {
                margin: 12px 0 16px 0;
            }
        }

        &__item-desc-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            gap: 40px;

            p {
                margin: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &__item-desc--right figcaption {
            flex-shrink: 0;
        }

        &__item-desc--right figcaption {
            order: 1;
        }

        &__item-desc--right p {
            order: 0;
        }

        &__item-desc--left p {
            order: 1;
        }

        &__item-desc--left figcaption {
            order: 0;
        } 

        &__item-desc--left figcaption {
            flex-shrink: 0;
        }

        // start with-users

        &__users {
            display: flex;
            gap: 20px;
        }

        &__users-item {
            border: 1.5px solid $stroke-primary;
            padding: 40px;
            width: 50%;
        }

        &__users-title {
            display: flex;
            align-items: center;
            gap: 16px;
            margin: 0;

            p {
                margin: 0;
            }
        }

        &__users-subtitle {
            margin: 0 0 4px 0;
            color: rgba(44, 45, 46, 1);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
        }

        &__users-list {
            margin-top: 28px;
            list-style-type: none; 
            counter-reset: num;
            margin-left: 54px;
            padding: 8px 0 5px 0;

            > li {
                position: relative;	
                margin: 0;
                padding: 0 0 16px 0;


                &::before {
                    content: '0' counter(num); 
                    counter-increment: num;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -53px;
                    width: 38px;
                    text-align: center;
                    color: $gray-sub;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 24px;
                }

                &:not(:last-child)::after {
                    content: '';
                    display: block;
                    width: calc(100% + 48px);
                    height: 1px;
                    background-color: $stroke-primary;
                    position: absolute;
                    left: -48px;
                    bottom: 0;
                }
            }

            li:not(:last-child) {
                margin-bottom: 12px ;
            }

            p {
                margin: 0;
                font-size: 16px;
                line-height: 24px;
            }
        }

        /* Начиная с 10-го пункта убрали ведущий ноль */
        ol > li:nth-child(n+10)::before {
            content: counter(num); /* Без ведущего нуля */
        }
        // end with-users
        
        
        .circle-with-number {
            border: 1.5px solid $stroke-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
        }

        .rounded-60 {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        @media screen and (max-width: 1528px) {
            &__item-card {
                padding-left: 40px;
                padding-right: 34px;
            }
            &__item-desc-bottom {
                margin-top: 16px;
                gap: 16px;
            }
        }
        @media screen and (max-width: 742px) {
            &__item-wrap, 
            &__item-desc-bottom {
                flex-direction: column;
            }
        }

    }
}
