@import '../lib/variables';
@import '../helpers/media';

.compare-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;

  &__head {
    &>.compare-table__th {
      background: #f8f8f8;
      font-weight: 600;
      border: 1px solid $stroke-primary;
      padding: 16px;

      &:first-child {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      border: 1px solid $stroke-primary;
      border-top: none;

      td {
        padding: 16px;
        border-right: 1px solid $stroke-primary;
        vertical-align: middle;

        &:last-child {
          border-right: none;
        }

        &:first-child {
          text-align: left;
        }
      }
    }
  }

  &__row--last-visible {
    border-bottom: 2px solid $stroke-primary !important;
  }

  &__section {
    td {
      background: #f0f0f0;
      font-weight: 600;
      padding: 16px;
      border: 1px solid $stroke-primary;
      border-top: none;
    }
  }

  &__row--first-section {
    border-top: 1px solid $stroke-primary;
  }

  &__cell--check {
    background-image: url("/img/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    display: inline-flex;
    width: 24px;
    height: 24px;
  }

  &__row--collapsible.is-hidden {
    display: none;
  }

  @media (max-width: 720px) {

    &,
    & thead,
    & tbody,
    & th,
    & td,
    & tr {
      display: block;
    }

    & thead {
      display: none;
    }

    & tbody tr {
      border: 1px solid $stroke-primary;
    }

    & tbody tr td {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      border-right: none;
      border-top: 1px solid $stroke-primary;
      text-align: left;
    }

    & tbody tr td:before {
      content: attr(data-label);
      font-weight: 600;
      color: #666;
      text-align: left;
    }

    & tbody tr td:not(:first-child):before {
      flex: 0 0 45%;
    }

    &__section {
      padding: 0 !important;
      td {
        display: block;
        border: none;
        font-size: 18px;
        padding: 18px !important;
      }
    }

     &__section:not(:first-child) {
      margin-top: 24px;
    }
  }
}