@import '../helpers/media';
@import '../lib/variables';

.toggle-section {
    .toggle-section-item {
        overflow: hidden;

        &.hidden {
            display: none;
        }
    }

    .visible-border {
        border-bottom: 2px solid $stroke-primary !important;
    }
}
