@import '../helpers/media';
@import '../lib/variables';

.toggle-section {
    .comparision__table-row:last-child {
        box-shadow: 0 0 0 1px $stroke-primary inset;   
    }
    .toggle-section-item {
        overflow: hidden;

        &.hidden {
            display: none;
        }
    }
}
