@media screen and (max-width: 1548px) {
  .container,
  #content {
    max-width: 1200px;
  }
  .Site-content.kabinet#container {
    max-width: 1200px;
  }
  section {
    padding: 60px 0;
  }
  .top-menu .main-top {
    padding: 0 10px;
  }
  .footer-icons {
    margin-top: 40px;
  }
  .eng-address {
    margin: 0 0 32px 0;
  }
  .eng-bottom-nav li {
    margin-right: 46px;
  }
}

@media screen and (max-width: 1280px) {
  .eng-bottom-nav li {
    margin-right: 40px;
  }
  .eng-address {
    margin: 0 0 50px 0;
  }
  h2 {
    font-size: 24px;
    margin: 0 0 16px 0;
  }
  .container,
  #content {
    max-width: 956px;
  }
  .Site-content.kabinet#container {
    max-width: 956px;
  }
  .header {
    padding: 24px 0;
  }
  .Site-content section.breadcrumbs {
    padding: 28px 0;
  }
  .header-wrapper {
    height: 90px;
  }
  .footer {
    padding: 40px 0;
  }
  /*.top-menu .main-top:not(:last-child) {
    margin-right:12px;
  }*/
  .top-menu .main-top {
    font-size: 12px;
    padding: 0 6px;
  }
  .top-menu .main-top a.main-link {
    font-weight: initial;
    text-underline-offset: 4px;
    text-decoration-thickness: initial;
  }
  .footer-icons li {
    margin-right: initial;
  }
  .footer-icons li:not(:last-child) {
    margin-right: 24px;
  }
  .footer-phone {
    display: none;
  }
  .footer-phone.tab {
    display: block;
  }
  .footer-adress .footer-phone p {
    margin: 0;
  }
  .footer-adress .footer-phone p:not(:last-child) {
    margin-bottom: 8px;
  }
  .footer-adress .footer-phone {
    margin-bottom: 20px;
  }
  .footer .footer-wrapper {
    gap: 96px;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
  }
  .footer .right-container {
    gap: 44px 96px;
  }
  .footer-wrapper .footer-adress {
    width: 224px;
    margin-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: initial;
  }
  .col-desk-8.right-container {
    width: calc(100% - 244px);
  }
  .footer-icons {
    margin-top: auto;
  }
  .submenu-two-wrapper {
    display: block;
    position: relative;
    z-index: 1;
  }
  .submenu-two.col-2 {
    width: 100%;
  }
  .submenu-one.full.solutions {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .submenu-one.full.solutions .main-width:not(:last-child) {
    margin-right: 80px;
  }
  .submenu-one.full .main-width.has-children {
    width: auto;
  }
}

@media screen and (max-width: 1036px) {
  .only-mob {
    display: block;
  }
  .mob-hidden {
    display: none !important;
  }
  .top-menu .main-top {
    padding: 0;
  }
  .eng-bottom-nav li {
    margin-right: 24px;
  }
  h1:not([class]) {
    font-size: 32px;
    margin: 0 0 24px 0;
  }
  .container,
  #content {
    max-width: 712px;
  }
  .header-wrapper {
    height: 72px;
  }
  .header.fixed {
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  .main-logo {
    max-height: 15px;
  }
  .footer {
    padding: 40px 0 60px 0;
  }
  .right-blocks:first-child {
    margin-bottom: 40px;
  }
  .footer-wrapper .right-blocks {
    width: 224px;
  }
  .footer .right-container {
    gap: 32px 20px;
  }
  .footer .footer-wrapper {
    gap: 28px;
  }
  .footer-wrapper .footer-adress {
    width: 216px;
  }
  .top-menu {
    display: none;
  }
  li#hamb {
    display: -ms-flexbox;
    display: flex;
  }
  .btn-up {
    width: 40px;
    height: 40px;
  }
  .btn-up:before {
    width: 18px;
    height: 24px;
  }
  .top-menu-icons {
    width: 100%;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .top-menu-icons li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-wrapper .footer-adress {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-icons {
    margin-top: auto;
  }
  /* burger menu styles */
  .top-menu-wrapper.mobile {
    position: fixed;
    width: 100%;
    height: calc(100vh - 72px);
    background: #FFFFFF;
    top: 72px;
    left: 0;
    z-index: 10000;
    overflow-y: scroll;
    padding: 40px 0;
  }
  .top-menu-wrapper.mobile .top-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 712px;
    margin: auto;
  }
  .top-menu .main-top:not(:last-child) {
    margin-right: initial;
    height: auto;
    margin-bottom: 20px;
  }
  .top-menu-wrapper.mobile .top-menu .main-top {
    height: auto;
    position: relative;
    width: 100%;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.active {
    position: relative;
    margin-top: 40px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .top-menu-wrapper.mobile .top-menu .main-top:not(:last-child)::after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.active::after {
    display: none;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.active a.main-link {
    position: relative;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.active a.main-link::after {
    content: '';
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .top-menu-wrapper.mobile .top-menu .main-top a {
    color: #2C2D2E;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
  }
  .top-menu-wrapper.mobile .top-menu .main-top .second-level {
    font-weight: 600;
    text-transform: initial;
  }
  .top-menu-wrapper.mobile .top-menu .arrow-sub {
    content: '';
    position: absolute;
    bottom: 8px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .top-menu-wrapper.mobile .top-menu .arrow-sub::before {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background: url("/images/2023/burger-right.svg") no-repeat center right/contain;
    right: 6px;
    top: 12px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .top-menu-wrapper.mobile .top-menu .main-top.active .arrow-sub::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container {
    display: none;
    position: static;
    top: 0;
    left: 0;
    padding: 0;
    visibility: visible;
    opacity: 1;
    box-shadow: initial;
  }
  .top-menu-wrapper.mobile .top-menu .products.full .second-level {
    display: none;
  }
  .top-menu-wrapper.mobile .submenu-one,
  .top-menu-wrapper.mobile .submenu-two {
    display: none;
  }
  .top-menu-wrapper.mobile .top-menu {
    padding-bottom: 40px;
    height: initial;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .main-top.has-children.active .submenu-container {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    padding: 12px 0 0 16px;
    display: block;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .submenu-two {
    display: none;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .partners .submenu-two {
    display: block;
    margin-top: 0;
  }
  .top-menu-wrapper.mobile .top-menu .menu-btn {
    display: none;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .products .submenu-two {
    display: block;
    font-weight: 400;
    padding: 0;
    margin-top: 0;
  }
  .submenu-container .products .submenu-two li:not(:last-child) {
    margin-bottom: initial;
  }
  .submenu-container .submenu-one.products .submenu-two li {
    margin-bottom: 4px;
    padding: 11px 0;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .main-top.has-children.active .submenu-one {
    display: block;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .main-top.has-children.active .submenu-one.partners {
    position: relative;
    padding-bottom: 50px;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children.active .submenu-container.no-children .submenu-two {
    display: block;
    margin: 0;
  }
  .submenu-one.full.partners .main-width:not(:last-child) {
    margin-right: initial;
  }
  .main-top.has-children.active .submenu-container.no-children {
    width: 100%;
  }
  .submenu-container.no-children .submenu-two li {
    padding: 11px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 12px 0;
    cursor: pointer;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children:not(:last-child) {
    margin-bottom: 12px;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children.active {
    padding-bottom: 0;
  }
  .top-menu-wrapper.mobile .submenu-one li.main-width.has-children.active a {
    color: #214288;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children.active .submenu-two li a {
    font-weight: 400;
    color: #2C2D2E;
  }
  .top-menu-wrapper.mobile .submenu-one.products li.has-children .submenu-two li a {
    font-weight: 400;
    color: #2C2D2E;
  }
  .top-menu-wrapper.mobile .submenu-one.products li.has-children {
    padding: 0;
    margin-bottom: 0;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .main-width.no-children .submenu-two {
    display: block;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .main-width.no-children .submenu-two li {
    padding: 11px 0;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .partners li {
    border: none !important;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .partners li.has-children {
    margin: 0;
    padding: 0;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .partners li.has-children a {
    font-weight: 400;
    display: block;
    padding: 11px 0;
    margin-bottom: 4px;
  }
  .top-menu-wrapper.mobile .top-menu .main-top.has-children .submenu-container .main-width.no-children .submenu-two li a {
    font-size: 16px;
    font-weight: 400;
  }
  .partners .submenu-two li:not(:last-child) {
    margin: 0;
  }
  .mob-link-hidden {
    display: none;
  }
  .main-top.has-children.active .submenu-container.no-children .submenu-one li {
    padding: 11px 0;
    margin-bottom: 4px;
    border-bottom: initial;
  }
  .level-back {
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: #2C2D2E;
  }
  .level-back:before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url("/images/2023/burger-right.svg") no-repeat center center/contain;
    margin-right: 20px;
    vertical-align: middle;
    margin-bottom: 2px;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .level-back {
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 11px;
    display: none;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children:after {
    content: '';
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    position: absolute;
    bottom: 0;
  }
  .top-menu-wrapper.mobile .submenu-one.partners li.has-children:after {
    display: none;
  }
  .top-menu-wrapper.mobile .submenu-one.products li.has-children:after {
    display: none;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children.active:after {
    display: none;
  }
  .top-menu-wrapper.mobile .submenu-one li.has-children a {
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
  }
  .top-menu .main-top a.main-link {
    line-height: 100%;
    padding: 14px 0;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children .arrow-sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one.solutions li.has-children.active .arrow-sub {
    height: 44px;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one.partners .arrow-sub {
    display: none;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children .arrow-sub::before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .arrow-sub::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .submenu-two {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #F9F9F9;
    font-weight: 400;
    padding: 0 0 0 20px;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .submenu-two.col2:not(:first-child) {
    margin-top: 0;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .submenu-two {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    margin-top: 10px;
    padding: 16px 0 0 0;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .submenu-two:not(:first-child) {
    border-top: none;
    margin-top: 0;
    padding: 0 0 0 0;
  }
  .top-menu-wrapper.mobile .top-menu.sublevel .submenu-one li.has-children.active .submenu-two.col-2:first-child li:last-child {
    margin-bottom: 16px;
  }
  .top-menu-wrapper.mobile .has-children .submenu-one li a {
    line-height: 125%;
    font-size: 16px;
  }
  .top-menu-wrapper.mobile .no-children .submenu-one li a {
    line-height: 125%;
    font-size: 16px;
    font-weight: 400;
  }
  .submenu-one.full li.no-children a.menu-btn.dso {
    position: absolute;
    bottom: 0;
    max-width: 360px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 742px) {
  .eng-bottom-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .eng-bottom-nav li {
    margin-right: 0;
  }
  .footer-brand {
    max-width: 160px;
  }
  .eng-address {
    margin: 0 0 40px 0;
  }
  .container,
  #content {
    max-width: 468px;
  }
  .top-menu-wrapper.mobile .top-menu {
    padding: 40px 0;
  }
  .top-menu-wrapper.mobile {
    height: calc(100vh - 60px);
    top: 60px;
    padding: 40px 20px;
  }
  .header-wrapper {
    height: 60px;
  }
  .footer .footer-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
  }
  .footer-wrapper .footer-adress {
    width: calc(100%);
    margin-right: 0;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-order: 1;
    order: 1;
    gap: 32px 20px;
  }
  .footer-wrapper .footer-policy {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .footer-wrapper .footer-policy br {
    display: none;
  }
  .footer-adress p:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer-adress .footer-phone p:not(:last-child) {
    margin-bottom: 12px;
  }
  .footer-wrapper .adress-wrapper {
    margin-bottom: 0;
    width: 224px;
  }
  .footer-adress .footer-phone {
    margin-bottom: 0;
    width: 224px;
  }
  .col-desk-8.right-container {
    width: 100%;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 0;
  }
  .top-menu-wrapper.mobile .top-menu {
    height: auto;
    max-width: 468px;
  }
}

@media screen and (max-width: 508px) {
  #container {
    padding: 0;
    max-width: 100%;
  }
  .container,
  #content {
    max-width: 100%;
    padding: 0 20px;
  }
  .submenu-container .container {
    padding: 0;
  }
  .header {
    padding: 16px 0;
  }
  .footer-wrapper .footer-phone {
    width: calc(100%);
    -ms-flex-order: 0;
    order: 0;
  }
  .col-desk-8.right-container {
    -ms-flex-order: 1;
    order: 1;
  }
  .footer-wrapper .footer-adress {
    width: 100%;
    -ms-flex-order: 2;
    order: 2;
  }
  .col-mid-6.right-blocks {
    width: 100%;
  }
  .right-blocks:first-child {
    margin-bottom: initial;
  }
  .right-container .right-blocks {
    margin-bottom: 0;
  }
  .footer .footer-wrapper {
    gap: 32px;
  }
  .col-desk-8.right-container {
    margin-bottom: 0;
  }
  .footer-icons {
    margin-top: 0;
  }
  .footer-adress p:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer-brand {
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }
  .footer-brand p {
    display: none;
  }
  .footer-brand .footer-logo {
    display: none;
  }
  .footer-eng-main {
    width: 100%;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 450px) {
  .submenu-one.full li.no-children a.menu-btn.dso {
    max-width: 100%;
  }
  .where-custom-select,
  .custom-select-box {
    max-width: 100%;
  }
  body.fixed .Site-content {
    padding-top: 56px !important;
  }
  body.fixed .header {
    width: 100%;
    position: fixed;
    z-index: 10000;
  }
  .container,
  #content {
    padding: 0 16px;
  }
  .top-menu-wrapper.mobile {
    top: 56px;
    height: calc(100vh - 56px);
    padding: 40px 16px 80px 16px;
  }
  .header-wrapper {
    height: 56px;
  }
  h1,
  h1:not([class]) {
    font-size: 28px;
    margin-bottom: 20px;
  }
  section {
    padding: 32px 0;
  }
}

@media screen and (max-width: 375px) {
  .container {
    padding: 0 15px;
  }
}

/*# sourceMappingURL=mobile-6650346da6.css.map */
