.compare-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  text-align: center;
}

.compare-table__head > .compare-table__th {
  font-weight: 600;
  padding: 16px;
}

.compare-table__head > .compare-table__th:first-child {
  text-align: left;
}

.compare-table__head {
  background-color: #F5F5F5;
  border-style: solid;
  border-color: #CBCBCB;
  border-width: 1px 1px 0 1px;
}

.compare-table__head .compare-table__th {
  border-left: 1px solid #CBCBCB;
}

.compare-table tbody tr {
  border: 1px solid #CBCBCB;
}

.compare-table tbody tr .compare-table__cell {
  padding: 16px;
  vertical-align: middle;
}

.compare-table tbody tr .compare-table__cell .text-bold {
  font-weight: 600;
}

.compare-table tbody tr .compare-table__cell:last-child {
  border-right: none;
}

.compare-table tbody tr .compare-table__cell:first-child {
  text-align: left;
}

.compare-table__row--last-visible {
  border-bottom: 2px solid #CBCBCB !important;
}

.compare-table__section .compare-table__cell {
  background-color: #F5F5F5;
  font-weight: 600;
  padding: 16px;
}

.compare-table__section--collapsible.is-hidden {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
}

.compare-table__cell--check {
  background-image: url("../../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  display: inline-block;
  width: 100%;
  height: 20px;
}

.compare-table__row--collapsible.is-hidden, .compare-table__section--collapsible.is-hidden {
  display: none;
}

@media (max-width: 720px) {
  .compare-table,
  .compare-table thead,
  .compare-table tbody,
  .compare-table th,
  .compare-table td,
  .compare-table tr {
    display: block;
  }
  .compare-table thead,
  .compare-table colgroup {
    display: none;
  }
  .compare-table tbody tr .compare-table__cell {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-right: none;
    text-align: left;
    padding: 0 8px;
    min-height: 44px;
    position: relative;
  }
  .compare-table tbody tr .compare-table__cell__separator::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #CBCBCB;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .compare-table__cell--line {
    padding: 4px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    text-align: center;
  }
  .compare-table tbody tr .compare-table__cell:not(:first-child) {
    border-top: 1px solid #CBCBCB;
  }
  .compare-table tbody tr .compare-table__cell:before {
    content: attr(data-label);
    font-weight: 600;
    text-align: left;
  }
  .compare-table tbody tr .compare-table__cell:not(:first-child):before {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
  }
  .compare-table tbody tr .compare-table__cell:first-child::before {
    display: none;
  }
  .compare-table__section {
    padding: 0 !important;
  }
  .compare-table__section td {
    display: block;
    border: none;
    font-size: 18px;
  }
  .compare-table__section:not(:first-child) {
    margin-top: 24px;
  }
}

@media (min-width: 720px) {
  .compare-table .compare-table__cell {
    border-right: 1px solid #CBCBCB;
  }
}

/*# sourceMappingURL=table-responsive.css.map */
