@import './lib/variables';
@import './lib/flexbox.scss';

@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

#body {
  position: relative;
}

.scroll-off {
  overflow: hidden;
  position: relative;
  height: 100%;
}

body.not-scroll {
  height: 100%;
  overflow-y: hidden;
  padding: 0 calc(18px - (100vw - 100%)) 0 0;
}

footer ul,
header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote,
figure {
  margin: 0;
}

/*h1,h2,h3,h4,p,li {margin: 0;}*/
.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mt80 {
  margin-top: 80px;
}

.mt60 {
  margin-top: 60px;
}

.gap-12 {
  gap: 12px;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  position: relative;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0 0 0 0;
  font: 400 16px/130% 'Manrope', sans-serif;
  color: #2C2D2E;
  background: #FFFFFF;
  line-height: 120%;
}

#main {
  color: red;
}

h1,
h2,
h3 {
  font-family: 'Manrope';
  color: #2C2D2E;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #2C2D2E;
  margin: 0 0 32px 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
  color: #2C2D2E;
  margin: 0 0 24px 0;
}

h3 {
  font-size: 20px;
  line-height: 140%;
}

.container,
#content {
  max-width: 1468px;
  width: 100%;
  margin: 0 auto;
}

.footer a:not([class]),
.header a:not([class]) {
  color: #FFFFFF;
  text-decoration: none;
  text-underline-offset: 4px;
}

.footer a:not([class]):hover,
.header a:not([class]):hover {
  text-decoration: underline;
}

.download-link {
  font-weight:600;
  @include flexbox;
  @include align-items(center);
}

.download-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-flex;
  margin-right: 8px;
  background: url('https://www.perco.ru/images/2023/icons/download-link.svg') no-repeat center center / contain;
}

.btn-open-block {
    border: none;
    color: #214288;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-open-block:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #214288;
    border-top: 2px solid #214288;
    transform: rotate(135deg);
    margin: 0 0 2px 15px;
    vertical-align: middle;
}

.prod-desc-info.active .prod-dop-info {
  transition: all 0.5s ease;
}

.prod-dop-info {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

/* pw-start */
.section-wrapper.anchors {
    gap: 0;
}

.section-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
}

section.pw-start {
    padding:0 0 60px 0; 
}

.pw-start h1 {
    font-size: 40px;
    margin:0 0 40px 0;
    
}

.pw-start ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
    max-width: 390px;
}

.pw-start ul li {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color:$text-subhead;
    list-style-image: initial;
    padding: 10px 0;
    position: relative;
    max-width: 390px;
    width: 100%;
}

.pw-start ul li::before {
    content:'';
    width: 8px;
    height: 8px;
    background: $main-blue;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
    margin-bottom: 3px;
}

.pw-start ul li a {
    color: $text-subhead;
    text-decoration: none;
}

.pw-start ul li a:hover {
    color: $main-blue;
}

/* end pw-start */

/* breadcrumbs */
section.breadcrumbs {
  padding:20px 0 20px 0;
}
ul.breadcrumbs-wrapper {
  list-style: outside none none;
  padding:0!important;
  width:100%;
}
ul.breadcrumbs-wrapper li {
  color:$text-subhead;
  line-height:145%;
  font-size:14px;
  margin:0!important;
  padding:0!important;
  list-style-image:none!important;
  display:inline;
}
.breadcrumbs-wrapper li a {
  color:$text-subhead;
}

.breadcrumbs-wrapper li img
{
  margin: auto 5px;
  width: 8px;
  height: 6px;
}

img {
  font-size: 7px;
}
